ul, li
{
  margin: 0;
  padding: 0;
  list-style: none;
}
li{
  margin-bottom: 10px;
}

#dirt-sliders, #water-sliders
{
  width: 500px;
  display: inline-block;
}

#dirt-sliders
{
  .ui-slider-handle
  {
    background-color: #894F0C;
  }
}

#water-sliders
{
  .ui-slider-handle
  {
    background-color: #487BC7;
  }
}
